body {
    font-family: 'Karla';
    font-size: 16px;
}

.navlink:link {
    color:rgba(128, 128, 128, 1);
    color: inherit;
    text-decoration: unset;
}

a {
    color:rgba(128, 128, 128, 1);
    text-decoration: underline;
    color: inherit;
}

.postTitle:link {
    color:rgba(128, 128, 128, 1);
    color: inherit;
    text-decoration: unset;
}

.content {
    padding-top: 45px
}

.container {
    display: flex;
    padding-top: 45px
}

.container div {
    flex: 1;
}

.column_center {
    order: 2;
}

.main-page {
    padding-top: 45px
}

.responsive-profile {
    width: 50%;
    height: auto;
}

.column-left{ float: left; width: 25%; }
.column-right{ float: right; width: 25%; }
.column-center{ display: inline-block; width: 50%; }

blockquote {
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

p img{
    width:98%;
    border: 2px solid #555;
}

code {
    font-family: Consolas,"courier new";
    color: #ffbe85;
    background-color: #202b38;
    padding: 2px;
    font-size: 105%;
  }