body {
    font-family: 'Karla';
    font-size: 16px;
}

.navlink:link {
    color:rgba(128, 128, 128, 1);
    color: inherit;
    text-decoration: unset;
}

a {
    color:rgba(128, 128, 128, 1);
    text-decoration: underline;
    color: inherit;
}

.postTitle:link {
    color:rgba(128, 128, 128, 1);
    color: inherit;
    text-decoration: unset;
}

.content {
    padding-top: 45px
}

ul {
    list-style: none;
}

ul li::before {
    content: "🔸";
    display: inline-block;
    margin-right: 0.2rem;
  }